@model Capstone.ViewModels.DynamicViewModel
@using Capstone.Helpers

<script src="~/Scripts/quizScript.js" type="text/javascript"></script>

<!-- Maybe instead of holding all of the data in the Javascript, just store it in the model and instead manipulate it with the javascript
    JS would be being used for the changing of what you see / transitions?-->


@{
    ViewBag.Title = "Take";
}

@using (Html.BeginForm("Take", "DynamicTesting", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="DataContent" style="display:none">
        @for (int i = 0; i < Model.answers.Length; i++)
        {
            @Html.EditorFor(m => Model.answers[i])
            <!--<div id="data @i">@Model.answers[i]</div>-->
        }
    </div>
    <div class="form-group" style="display:none">
            @Html.EditorFor(model => model.classId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.studentId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.quizId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    
    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.cq, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div id="" style="display:none">
        @for (int i = 0; i < Model.questionIds.Length; i++)
        {
            @Html.EditorFor(m => Model.questionIds[i])
        }
    </div>

    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.cla, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.quiz, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group" style="display:none">
        @Html.EditorFor(model => model.student, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Take" class="btn btn-default" />
        </div>
    </div>
}

<h2>Take Quiz</h2>
<dl class="dl-horizontal">
    <dt>Class</dt>
    <dd>@Model.cla.Name</dd>
    <dt>Student</dt>
    <dd>@Model.student.First @Model.student.Last</dd>
    <dt>Quiz</dt>
    <dd>@Model.quiz.Name</dd>
</dl>


<div style="width:600px; margin-left:auto; margin-right:auto">
    <div style="background-color: lightgray">
        <h2>My Products</h2>
    </div>
    <input id="btnPrevAjax" name="btnPrevAjax" type="button" value="Previous Question" />
    <input id="btnNextAjax" name="btnNextAjax" type="button" value="Next Question" />
    <input id="CorrectAnswer" name="CorrectAnswer" type="button" value="Correct" />
    <input id="IncorrectAnswer" name="IncorrectAnswer" type="button" value="Incorrect" />
    <div id="CurIndex">-1</div>
    <div id="indexStatus"></div>
    <div id="questionResult" style="background-color:lightskyblue"></div>
</div>



@section Scripts {
    <script>
        jQuery(function () {
            jQuery('#btnNextAjax').click();
        });

        $('#CorrectAnswer').click(function () {
            //var nextIndex = $('#NextIndex').html();
            var curIndex = parseInt($('#CurIndex').html(), 10);
            AjaxRequest(curIndex, 1, false, 1); // +1 for next index modifier, 1 for correct answer, false for no skip question
        });

        $('#IncorrectAnswer').click(function () {
            //var nextIndex = $('#NextIndex').html();
            var curIndex = parseInt($('#CurIndex').html(), 10);
            AjaxRequest(curIndex, 1, false, 0); // -1 for next index modifier, 0 for incorrect answer, false for no skip question
        });

        $('#btnNextAjax').click(function () {
            //var nextIndex = $('#NextIndex').html();
            var curIndex = parseInt($('#CurIndex').html(), 10);
            AjaxRequest(curIndex, 1, true, null);
        });

        $('#btnPrevAjax').click(function () {
            //var nextIndex = $('#NextIndex').html();
            var curIndex = parseInt($('#CurIndex').html(), 10);
            AjaxRequest(curIndex, -1, true, null);
        });

        function AjaxRequest(index, modifier, skip, answer) {
            //preliminary data gathering for Answers and Questions
            var myArray = [];
            @foreach (var d in Model.questionIds)
            {
                @:myArray.push("@d");
            }

            //get the next questions index
            var nextIndex = index + modifier;
            var incrementedIndex = index + 1;

            if (nextIndex < myArray.length && nextIndex >= 0) {
                var DEST = "/DynamicTesting/GetQuestion/" + myArray[nextIndex];
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#CurIndex").html(nextIndex);
                        $('#questionResult').html(result);
                        var technicalIndex = nextIndex + 1;
                        $("#indexStatus").html("Question:" + technicalIndex + "/" + myArray.length);

                        //IF it wasn't a skip, update the answer
                        if (!skip) {
                            if (parseInt(answer) == 0) {
                                $("#DataContent input:nth-child(" + incrementedIndex + ")").attr("value", '0');
                            }
                            if (answer == 1) {
                                $("#DataContent input:nth-child(" + incrementedIndex + ")").attr("value", '1');
                            }
                        }
                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                if (!skip) {
                    if (parseInt(answer) == 0)
                        $("#DataContent input:nth-child(" + incrementedIndex + ")").attr("value", '0');
                    if (answer == 1)
                        $("#DataContent input:nth-child(" + incrementedIndex + ")").attr("value", '1');
                }
                $("#indexStatus").html("End Of Quiz");
            }
        }
    </script>
}


