@model Capstone.Models.Class

@{
    ViewBag.Title = "Advanced";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

    </dl>
    <table class="table" id="StudentTable">
        <tr>
            <th>First</th> <th>Last</th><th>Parent Email</th><th>Action</th>
        </tr>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>@item.First</td><td>@item.Last</td><td>@item.Email</td>
                <td>
                    @Html.ActionLink("Edit","Edit","Students", new { Id = item.Id}, null) |
                    @Html.ActionLink("Delete", "Delete", "Students", new { Id = item.Id }, null)
                </td>
            </tr>
        }
    </table>

    <!--<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students)
        </dd>
    </dl>
    <div id="StudentSection" class="section">

    </div>
    <button onclick="addRow()" id="AddField" type="button" class="btn btn-primary">AddNew</button>-->
    <button class="btn btn-primary">@Html.ActionLink("Add Student", "Create", "Students", new { classId = Model.Id }, null)</button>
</div>
<br /><br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
     

<script>
    function addRow() {
        /*document.getElementById("AddField").innerHTML = "YOU CLICKED ME!";
        var parent = document.getElementById("StudentSection");
        var node = document.createElement("div");
        var nameBox = document.createElement("textarea");
        parent.appendChild(node);
        parent.appendChild(nameBox);*/
        var table = document.getElementById("StudentTable");
        var tbody = table.firstChild();
        var row = document.createElement("tr");
        var firstTd = document.createElement("td");
        var first = firstTd.appendChild(document.createElement());
        tbody.addRow();
    }
</script>
