@model Capstone.Models.Class

@{
    ViewBag.Title = "Advanced";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

    </dl>
    @foreach (var item in Model.Students)
    {
        <div>@item.First  @item.Last</div>
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Students)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students)
        </dd>
    </dl>
    <div id="StudentSection" class="section">

    </div>
    <button onclick="myFunction()" id="AddField" type="button" class="btn btn-primary">AddNew</button>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
     
<button class="btn btn-primary">@Html.ActionLink("Add Student", "Create", "Students", new { clasId = Model.Id }, null)</button>
<script>
    function myFunction() {
        document.getElementById("AddField").innerHTML = "YOU CLICKED ME!";
        var parent = document.getElementById("StudentSection");
        var node = document.createElement("div");
        var nameBox = document.createElement("textarea");
        parent.appendChild(node);
        parent.appendChild(nameBox);
    }
</script>
