@model IEnumerable<Capstone.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Classes</h2>
<div class="panel panel-default stylebox">
    <div class="panel-body">
        <p>This is the Classes Module where make a virtual classroom. Follow these steps to create a class: </p>
        <ol>
            <li>Create New Class</li>
            <li>Add Students to your class</li>
            <li>Add a quiz to your class</li>
        </ol>

    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create","Classes",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Class Name
        </th>
        <th>
            School
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.ActionLink("Class Overview", "Advanced", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit Class Info", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete Class", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
