@model Capstone.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <h2 style="display: inline-block !important; margin-right:15px;">
        @Model.clas.Name - @Model.clas.SchoolName
    </h2>
    @Html.ActionLink("Change Default Class", "What", "Model", new { classId = Model.clas.Id }, null)
</div>

<div class="container panel panel-default">
    <div class="panel-body">
        <div class="col-sm-3">
            <h3>Students</h3>
            <ul class="list-group">
                @foreach (var stud in Model.clas.Students)
                {

                    <li class="list-group-item">
                        <a>@stud.First @stud.Last</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="row-fluid">

                <h3 style="display: inline-block !important; margin-right:15px;">Class Quizzes</h3>
                @Html.ActionLink("Add Quiz to Class", "Create", "ClassQuizs", new { classId = Model.clas.Id }, null)
            </div>
            @for (int i = 0; i < Model.quizzes.Length; i++)
            {
               
                <div class="col-sm-3 panel panel-default">
                    <div class="panel-body">
                        <p>@Model.quizzes[i].Name</p>

                        @Html.ActionLink("Take Quiz", "Index", "Overview", new { quizId = Model.quizzes[i].Id, classId = Model.clas.Id }, null)
                    </div>
                </div>
            }
        </div>
    </div>
</div>