@model Capstone.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row-fluid">
    <h2 style="display: inline-block !important; margin-right:15px;">
        @Model.clas.Name - @Model.clas.SchoolName
    </h2>
    @Html.ActionLink("Change Default Class", "ChangeDefault", "Classes", new { classId = Model.clas.Id }, null)
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Overview</h4>
            </div>
            <div id="StudentPopup" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="container panel panel-default" ><!--style="background-color:#D7CEC7">-->
    <div class="panel-body">
        <div class="col-sm-3">
            <div class="row-fluid">

                <h3 style="display: inline-block !important; margin-right:15px;">Students</h3>

                @Html.ActionLink("Manage", "Advanced", "Classes", new { id = Model.clas.Id}, null)
            </div>

            <ul class="list-group">
                @foreach (var stud in Model.clas.Students)
                {

                    <li class="list-group-item">
                        <a id="@stud.Id" class="studentButton">@stud.First @stud.Last</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-sm-9 container">
            <div class="row-fluid">

                <h3 style="display: inline-block !important; margin-right:15px;">Class Quizzes</h3>

                @Html.ActionLink("Create New Quiz", "Create", "Quizs", new {  }, null) | 
                @Html.ActionLink("Add Quiz to Class", "Create", "ClassQuizs", new { classId = Model.clas.Id }, null) |
            </div>
            @for (int i = 0; i < Model.clas.ClassQuizs.Count(); i += 0)
            {
                <div class="row col-sm-12">
                @for (int j = i + 4; i < j ; i++)
                {
                    <div class="col-sm-3 panel panel-default item" style="padding:0px;font-weight:bolder;">
                        @if (i < Model.clas.ClassQuizs.Count())
                        {
                            <div class="panel-heading">
                                @Model.clas.ClassQuizs.ElementAt(i).Quiz.Name
                                @Html.ActionLink("X", "Delete", "ClassQuizs", new { classId = Model.clas.Id, quizId = @Model.clas.ClassQuizs.ElementAt(i).QuizId}, null)
                            </div>
                            <div class="panel-body">
                                <p>
                                    Attempts: @Model.clas.ClassQuizs.ElementAt(i).QuizAttempts.Count() <br />
                                    Students: @Model.clas.Students.Count()
                                </p>

                                @Html.ActionLink("Take Quiz", "Index", "Overview", new { quizId = @Model.clas.ClassQuizs.ElementAt(i).Quiz.Id, classId = Model.clas.Id }, null)
                            </div>
                        }
                    </div>
                }
                </div>
            }
        </div>
    </div>
</div>

<style>
    .row {
        display: table;
    }

        .row [class*="col-"] {
            float: none;
            display: table-cell;
            vertical-align: top;
        }
</style>


@section Scripts{
    <script>
        $('.studentButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            //alert(event.target.id);

            if (event.target.id != null) {
                var DEST = "/Students/Overview/" + event.target.id;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#StudentPopup").html(result);
                        $("#myModal").modal()
                        
                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#StudentPopup").html("");
            }
        });
    </script>    
}