@model Capstone.Models.Quiz
@using Capstone.Helpers

@{
    ViewBag.Title = "Advanced";
}

<h2>Quiz Overview</h2>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Question</h4>
            </div>
            <div id="ModalPopup" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel panel-body">
        <h4>Quiz Details</h4>
        <a id="@Model.Id" class="EditButton btn btn-primary">Edit</a>
        <a id="@Model.Id" class="DeleteButton btn btn-primary">Delete</a>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Quiz Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
               Core Standard
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CoreStandard.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>
</div>

<br />
<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="col-sm-2">
            <h4>Quiz Questions</h4>
        </div>
        <p><a id="@Model.Id" class="NewQuestionButton btn btn-primary" >Add Question</a></p>
         <table class="table" id="StudentTable">
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Action</th>
            </tr>
            @if (Model.Questions.Count > 0)
            {
                foreach (var item in Model.Questions)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@if (item.Type == 0)
                        {
                            <div>Picture</div>
                        }
                        @if (item.Type == 1)
                        {
                            <div>Text</div>
                        }</td>
                        <td>@if (item.Type == 0)
                        {
                            @Html.Image(item.Picture);
                        }
                        @if(item.Type == 1){
                            @item.Text
                        }</td>
                        <td>@item.Answer</td>
                        <td>
                            <a id="@item.Id" class="EditQuestionButton btn btn-primary">Edit</a>
                            <a id="@item.Id" class="DeleteQuestionButton btn btn-primary">Delete</a>

                        </td>
                    </tr>
                }
            }
        </table>

        <!--<button class="btn btn-primary">@Html.ActionLink("Add Question", "Create", "Questions", new { QuizId = Model.Id }, null)</button>-->
        <!--Html.ActionLink("Add Question", "Create", "Questions", null, null)-->
        <p><a id="@Model.Id" class="NewQuestionButton btn btn-primary">Add Question</a></p>
    </div>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts{
    <script>
         $('.EditButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            var quizId = "@Model.Id.ToString()";
            //alert(test);

            if (event.target.id != null) {
                var DEST = "/Quizs/Edit/" + quizId;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#ModalPopup").html(result);
                        $("#myModal").modal()

                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#ModalPopup").html("");
            }
        });

        $('.DeleteButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            var quizId = "@Model.Id.ToString()";
            //alert(test);

            if (event.target.id != null) {
                var DEST = "/Quizs/Delete/" + quizId;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#ModalPopup").html(result);
                        $("#myModal").modal()

                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#ModalPopup").html("");
            }
        });

        $('.NewQuestionButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            var test = "@Model.Id.ToString()";
            //alert(test);

            if (event.target.id != null) {
                var DEST = "/Questions/Create?QuizId=" + test;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#ModalPopup").html(result);
                        $("#myModal").modal()

                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#ModalPopup").html("");
            }
        });

        $('.EditQuestionButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            var questionId = event.target.id;
            var quizId = "@Model.Id.ToString()";
            //alert(test);

            if (event.target.id != null) {
                var DEST = "/Questions/Edit/"+questionId+"?QuizId=" + quizId;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#ModalPopup").html(result);
                        $("#myModal").modal()

                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#ModalPopup").html("");
            }
        });

        $('.DeleteQuestionButton').click(function (event) {
            //preliminary data gathering for Answers and Questions
            var questionId = event.target.id;
            var quizId = "@Model.Id.ToString()";
            //alert(test);

            if (event.target.id != null) {
                var DEST = "/Questions/Delete/"+questionId+"?QuizId=" + quizId;
                $.ajax({
                    url: DEST,
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html'

                })
                    .success(function (result) {
                        $("#ModalPopup").html(result);
                        $("#myModal").modal()

                    })
                    .error(function (xhr, status) {
                        alert(status);
                    })
            }
            else {
                $("#ModalPopup").html("");
            }
        });
    </script>
}