@model Capstone.Models.Quiz
@using Capstone.Helpers

@{
    ViewBag.Title = "Details";
}


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoreStandard.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoreStandard.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
     <hr />
    <table class="table">
        <tr>
            <th>Question Index</th>
            <th>Type</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Description</th>
        </tr>
        @foreach(var item in Model.Questions)
        {
            <tr>
                <td>
                    @item.QuestionIndex
                </td>
                <td>
                    @if (item.Type == 0)
                    {
                        <div>Picture</div>
                    }
                    @if (item.Type == 1)
                    {
                        <div>Text</div>
                    }
                </td>
                <td>
                    @if (item.Type == 0)
                    {
                        @Html.Image(item.Picture);
                    }
                    @if (item.Type == 1)
                    {
                        @item.Text
                    }
                </td>
                <td>@item.Answer</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>
