@model IEnumerable<Capstone.Models.Quiz>

@{
    ViewBag.Title = "Quizzes";
}

<h2>Quizzes</h2>
<div class="well">
    <div class="panel-body">
        <p>This is the Quiz module. Here you can create quizzes that you can take with you students, following these steps:</p>
        <ol>
            <li>Create New Quiz</li>
            <li>Create questions for the quiz</li>
            <li>Add the quiz to your Course</li>
        </ol>

    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create","Quizs",null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover ">
    <tr>
        <th>
            Quiz Name
        </th>
        <th>
            Common Core Standard
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoreStandard.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Select", "Advanced", new { id = item.Id }, new { @class = "btn btn-primary" }) 
        </td>
    </tr>
}

</table>
