@model Capstone.Models.ClassQuiz

@{
    ViewBag.Title = "Remove";
}

<h2>Remove</h2>

<h3>Are you sure you want to Remove this Quiz from your Class?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quiz.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
