@model Capstone.ViewModels.ClassQuizOverview

@{
    ViewBag.Title = "Index";
}

<h2>@Model.currentQuiz.Name - Progress</h2>

<div>
    <table class="table">
        <tr>
            <th>Student Name</th><th>Attempts</th><th>Completed</th><th>Actions</th>
        </tr>
        @foreach(var item in Model.studentAttempts)
        {
            <tr>
                <td>
                    @item.Key.First  @item.Key.Last
                </td>
                <td>
                    @item.Value[0] <!--/ item.Value[1]-->
                </td>
                <td>
                    @if (item.Value[0] >= 1) {
                        <div style="color:green">Yes</div>
                    }
                    else{ 
                        <div style="color:red">No</div>
                    }
                </td>
                <td>
                    @Html.ActionLink("Take Quiz", "Take", "DynamicTesting", new { classId = Model.currentClass.Id, quizId = Model.currentQuiz.Id, studentId = item.Key.Id }, null) 
                </td>
            </tr>
        }
    </table>
</div>

